.about {
    display: flex;
    flex-direction: column;
    gap: 6.5em;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.2em
}

.details h1 {
    font-size: 65px;
    text-align: justify;
}

.details button {
    width: 90px;
    padding: 0.5em;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 0.5em;
}