.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 4em;
}

@media (max-width: 859px) {
    .main {
        display: flex;
        flex-direction: column-reverse;  
        grid-gap: 3em;
        align-items: stretch;
    }
}