.sponsors {
    display: flex;
    gap: 1.5em;
}

@media (max-width: 859px) {
    .sponsors {
        margin-top: -3em;
        width: -webkit-fill-available;
        justify-content: center;
    }

    .sponsors svg {
        width: 5em;
    }
}